<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hytc.mysql.mapper.ClazzMapper">
    <select id="list" resultType="cn.hytc.mysql.entity.Clazz">
        select * from clazz
        <where>
            <if test="name != null">
                name like CONCAT('%', #{name}, '%')
            </if>
            <if test="beginDate != null">
                and begin_date &gt;= #{beginDate}
            </if>
            <if test="endDate != null">
                and end_date &lt;= #{endDate}
            </if>
        </where>
        order by id asc
    </select>
    <insert id="insert" parameterType="cn.hytc.mysql.entity.Clazz">
        insert into clazz
        <trim prefix="(" suffix=")" suffixOverrides=",">
            name,room,begin_date,end_date,
            <if test="masterId != null">master_id,</if>
            subject,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{name}, #{room}, #{beginDate}, #{endDate},
            <if test="masterId != null">#{masterId},</if>
            #{subject}
        </trim>
    </insert>
    <update id="update" parameterType="cn.hytc.mysql.entity.Clazz">
        update clazz
        <set>
            name = #{name},room = #{room},begin_date = #{beginDate},end_date = #{endDate},master_id = #{masterId},
            <if test="subject != null">subject = #{subject},</if>
        </set>
        where id = #{id}
    </update>
</mapper>